
.slider__wrap
    img(
        src="./image/img-slider-bg.png"
        class="slider__wrap-img slider__wrap-img--bg"
    )
    img(
        src="./image/img-slider-leaves-left.png"
        class="slider__wrap-img slider__wrap-img--leaves-left"
    )
    img(
        src="./image/img-slider-product.png"
        class="slider__wrap-img slider__wrap-img--product"
    )
    img(
        src="./image/img-slider-tag.png"
        class="slider__wrap-img slider__wrap-img--tag"
    )
    img(
        src="./image/img-slider-meter.png"
        class="slider__wrap-img slider__wrap-img--meter"
    )

    img(
        src="./image/img-slider-leaves-right.png"
        class="slider__wrap-img slider__wrap-img--leaves-right"
    )
    img(
        src="./image/img-slider-girl.png"
        class="slider__wrap-img slider__wrap-img--girl"
    )

    .slider__wrap-text
        p.slider__text.slider__text-0!= "Everything"
        p.slider__text.slider__text-1!= "you need "
        p.slider__text.slider__text-2!= "that to lose weight"

        p.slider__text.slider__text-3!= "Save more than <span class='slider__text_color'>20%</span>"
        p.slider__text.slider__text-4!= "on our new products"

    a(
        href="javascript:void(0);"
        title=""
        class="btn btn_small slider__btn"
    )
        span(class="btn__text", data-id="Click here")!= "Click here"
        i.btn__icon
