
.specification__desc.clearfix
    .specification__desc_left
        img(
            src="./image/img-bottle.png"
            title=""
            alt=""
            class="specification__desc-img"
        )
        img(
            src="./image/img-desc-tag.png"
            title=""
            alt=""
            class="specification__desc-img-0"
        )
        img(
            src="./image/img-desc-made.png"
            title=""
            alt=""
            class="specification__desc-img-1"
        )

        +rating("rating_big specification__desc-rating")

    .specification__desc_center
        p.specification__desc-title!= "Achieve Quick Results with Acai Berries"

        p.specification__desc-text!= "The acai berry is one of the world's most powerful superfoods. Native Brazilians discovered the acai berry thousands of years ago and found that it provided them with a natural energy boost. Today, the acai berry is known as a powerful antioxidant that aids in rapid recovery, provides the body with a healthy source of protein, and supports smart weight loss. The acai berry has all the vitamins and minerals found in other fruits, but with much higher concentrations of healthy antioxidants. One acai berry is believed to contain ten times the powerful antioxidants of grapes, and two times the amount in blueberries. The Brazilians were so impressed with the power of the acai berry that they named it the 'beauty berry.' So what makes the acai such a powerful superfood?"

        a(
            href="javascript:void(0);"
            title=""
            class="btn btn_extra-big specification__desc-btn"
        )
            span(class="btn__text")!= "Claim your pack today!"
            i.btn__icon

    .specification__desc_right
        img(
            src="./image/img-garant.png"
            title=""
            alt=""
            class="specification__desc-img-2"
        )
        img(
            src="./image/img-girl-desc.png"
            title=""
            alt=""
            class="specification__desc-img-3"
        )