-
    var specificationText = "Everyone wants to maintain a healthy weight, but the battle against obesity is a difficult challenge. The acai berry is considered a superfood by nutritionists because it not only supports weight loss, but helps you maintain a healthy weight as well. According to the National Institutes of Aging, the pulp of the acai berry has the ability to reduce the negative effects of a high-fat diet. The acai berry also aids in weight loss by supporting healthy digestion. The berries have strong detoxification capacities that keep your digestive system clean and functioning properly. Adding the acai berry to your diet is a healthy, natural method for promoting and supporting smart weight loss.";


.specification__box.border_top
    p.specification__box-title
        | Promoting&nbsp;
        span.specification__box-title_color!= "Smart Weight Loss"

    p.specification__box-text!= specificationText

.specification__box.border_top
    p.specification__box-title
        span.specification__box-title_color!= "Fight Aging, Boost Energy"
        | &nbsp;, and Aid in&nbsp;
        span.specification__box-title_color!= "Rapid Recovery!"

    p.specification__box-text!= specificationText