
.search

    input(
        type="text"
        placeholder="Search product’s here"
        class="search__input"
    )

    a(
        href="javascript:void(0);"
        title=""
        class="search__btn"
    )
        i.search__btn-icon