include _mixin/mixin


doctype html
html(lang="en")


    +headSite("Herbalex", linkSite.styleLink, "")


    body(data-lang="en")


        include ./_template/header

        .row.row_main
            img(
                src="./image/img-bg-left.png"
                title=""
                alt=""
                class="row__img row__img_main row__img_main-left"
            )
            img(
                src="./image/img-bg-right.png"
                title=""
                alt=""
                class="row__img row__img_main row__img_main-right"
            )

            .row__wrap

                include ./_template/nav


        div(class="lang__btn", style="text-align:center; padding-top:15px; padding-bottom:15px; position:relative; z-index;100;")
            a(
                href="javascript:void(0);"
                data-lang="en"
            )!= "|| -- EN -- ||"
            a(
                href="javascript:void(0);"
                data-lang="de"
            )!= "-- DE -- ||"
            a(
                href="javascript:void(0);"
                data-lang="fr"
            )!= "-- FR -- ||"
            a(
                href="javascript:void(0);"
                data-lang="it"
            )!= "-- IT -- ||"
            a(
                href="javascript:void(0);"
                data-lang="pt"
            )!= "-- PT -- ||"
            a(
                href="javascript:void(0);"
                data-lang="es"
            )!= "-- ES -- ||"
            a(
                href="javascript:void(0);"
                data-lang="jp"
            )!= "-- JP -- ||"



    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])