include _mixin/mixin
include _mixin/macrosMixin


doctype html
html(lang="en")


    +headSite("Herbalex", linkSite.styleLinkIndex, "")


    body(data-lang="en")


        //- HEADER [support, menu, search, logotype, language, currency, cart]
        include ./_template/header


        //- ROW MAIN [background-image]
        +rowWithImageBgMain("row_main")


        //- MAIN CONTENT IN PAGE
        .row__wrap

            //- NAVIGATION [list, drop, coupon]
            include ./_template/nav

            //- SLIDER
            include ./_template/slider

            //- INFO
            include ./_template/info

            //- PRODUCT
            include ./_template/product

            //- DESCRIPTION
            include ./_template/description

            //- REVIEW
            include ./_template/review

            //- PROMO
            include ./_template/promo


        //- HEADER [support, menu, search, logotype, language, currency, cart]
        include ./_template/footer



        div(class="lang__btn", style="display:none; text-align:center; padding-top:50px; padding-bottom:15px; position:relative; z-index;100;")
            a(
                href="javascript:void(0);"
                data-lang="en"
            )!= "|| -- EN -- ||"
            a(
                href="javascript:void(0);"
                data-lang="de"
            )!= "-- DE -- ||"
            a(
                href="javascript:void(0);"
                data-lang="fr"
            )!= "-- FR -- ||"
            a(
                href="javascript:void(0);"
                data-lang="it"
            )!= "-- IT -- ||"
            a(
                href="javascript:void(0);"
                data-lang="pt"
            )!= "-- PT -- ||"
            a(
                href="javascript:void(0);"
                data-lang="es"
            )!= "-- ES -- ||"
            a(
                href="javascript:void(0);"
                data-lang="jp"
            )!= "-- JP -- ||"



    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])