
.cart__drop-product.clearfix
    .cart__drop-img-wrap
        img(
            src="./image/img-product.png"
            title=""
            alt=""
            class="cart__drop-img"
        )
    .cart__drop-text
        span.aligner
        span.cart__drop-text-wrap
            p.cart__drop-text-name!= "100% Pure Okinawan Coral Calcium"
            p.cart__drop-text-price!= "3 X 39,95 EUR"

