
.cart__drop-enter.clearfix
    input(
        type="text"
        placeholder="Enter your coupon code"
        class="cart__drop-input"
    )
    a(
        href="javascript:void(0);"
        title=""
        class="btn cart__drop-apply cart-apply-js"
    )
        i.btn__icon
        span(
            class="btn__text"
        )!= "Apply coupon"
