
a(
    href="javascript:void(0);"
    title=""
    class="cart__drop-delete cart-delete-js"
)
    i.cart__drop-delete-icon
a(
    href="javascript:void(0);"
    title=""
    class="btn cart__drop-view cart-view-js"
)
    span(
        class="btn__text"
    )!= "View Cart"
    i.btn__icon

