-
    var languageDropLink = [
        "English",
        "Deutsch",
        "Français",
        "Italiano",
        "Español",
        "Portuguesa",
        "日本語"
    ];
    var languageDataAttr = [
        "en",
        "de",
        "fr",
        "it",
        "es",
        "pt",
        "jp"
    ];


.language
    a(
        href="javascript:void(0);"
        title=""
        data-language="en"
        class="language__btn"
    )
        span.language__flags
        i.language__icon

    .language__drop.drop-down
        -for(var i = 0; i < languageDropLink.length; i++)
            a(
                href="javascript:void(0);"
                title=""
                data-language-btn= languageDataAttr[i]
                class!= (languageDataAttr[i] !== "en") ? "language__drop-item drop-down__btn" : "language__drop-item drop-down__btn active"
            )!= languageDropLink[i]
                i.drop-down__icon

