
div(class="coupon__wrap-enter" data-coupon="enter")

    span(class="coupon__wrap-text")
        span
            strong(data-id="Enter coupone: ")!= "Enter coupone: "
        span(data-id="(if you have one)")!= "(if you have one)"

    input(type="text", class="coupon__wrap-input" placeholder="Enter your coupon here")

    a(
        href="javascript:void(0);"
        title=""
        class="btn coupon__wrap-btn coupon-enter-js"
    )
        span(class="btn__text", data-id="Apply coupon")!= "Apply coupon"
        i.btn__icon

