
div(class="coupon__wrap-done" data-coupon="done")
    span(class="coupon__wrap-text")
        span
            strong(
                class="coupon__wrap-text_error"
                data-id="Now your discount on all products is 5%. "
            )!= "Now your discount on all products is 5%. "
        span(
            data-id="Prices are displayed in the store with discount!"
        )!= "Prices are displayed in the store with discount!"

    a(
        href="javascript:void(0);"
        title=""
        class="btn coupon__wrap-btn coupon-done-js"
    )
        span(class="btn__text", data-id="OK")!= "OK"
        i.btn__icon